.login-title h1 {
    font-size: 34px;
    margin-top: 20px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.login-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 550px;
    margin: 0 auto;
}

.login-col-sm-9 {
    width: 550px;
}

.login-form {
    width: 90%;
    height: 3.5vh !important;
    border-radius: 7px;
}

.login-inputs {
    text-align: center !important;
}

::placeholder {
    color: #000;
    font-size: 16px;
}

::-ms-input-placeholder {
    color: #000;
}

.login-card {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    display: flex;
}

.login-card-signin {
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.login-card-title {
    margin-top: 20px;
}

.login-card-signin .login-card-title {
    font-weight: bolder;
    font-size: 22px;
    color: #000;
}

.login-card-signin .card-body {
    padding: 2rem;
    flex: 1;
}

.login-form-signin {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-forgotpassword-p {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.login-btn {
    background: #fff !important;
    color: #000 !important;
    font-size: 16px;
    font-weight: normal;
}

.login-form-label-group {
    position: relative;
    margin-bottom: 1rem;
    width: 92%;
    margin: 10px auto;
}

.login-forgotpassword-link,
.login-forgotpassword-p {
    color: #000;
    font-size: 16px;
}

.login-forgot-remember {
    text-align: start;
}

.login-eyeicon {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}